.repositoriesContainer {
  margin: 20px 0px;
}
.input {
  height: 30px;
  width: 400px;
  border: none;
  border: 1px solid;
  border-color: #8d8d8d;
  border-radius: 10px 0 0 10px;
  padding: 0.375rem 0.75rem;
}

.button {
  height: 30px;
  width: 100px;
  background-color: #2196f3;
  color: #fff;
  border: none;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
}

.button:disabled {
  background-color: rgb(139, 139, 139);
  cursor: no-drop;
}

.input::placeholder {
  color: #2196f3;
  opacity: 0.4;
}

.input:focus {
  color: #2196f3;
  background-color: #fff;
  border-color: #2196f3;
  outline: 0;
}
